.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;
  background: #0f2027; /* fallback for old browsers */
  background: url(/images/cool-background.jpeg);
  background-size: 100% 120%;
  max-width: 100%;
}

.landing__text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 3em;
  color: white;
  margin-bottom: 3em;
  text-align: center;
}

.landing__name {
  color: #e31b6d;
  font-weight: bold;
}

.landing__text--child2 {
  align-self: center;
}

.landing__button {
  border: 2px solid white;
  background: transparent;
  padding: 0.4em 1em 0.4em 1em;
  font-size: 0.45em;
  color: white;
  font-weight: 100;
  margin-top: 1em;
  transition: background 0.2s linear;
}

.landing__button:hover {
  background: rgb(24, 196, 199);
}

.landing__button .fa-arrow-alt-circle-right {
  margin-left: 0.5em;
  font-size: 1.1em;
  font-weight: 100;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.2s ease-in-out;
}

.landing__button:hover .fa-arrow-alt-circle-right {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
