@import './_colors';

.navbar {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: lightslategrey;
  align-items: center;
  font-size: 1.2em;
  border-bottom: 5px solid $secondary-font-color;
  text-transform: uppercase;
  max-width: 100%;
}

.navbar div {
  margin: 1.1em;
}

.navbar__not-selected,
.resume-link {
  text-decoration: none;
  color: white;
  transition: color 0.2s linear;
  font-weight: bold;
}

.navbar__not-selected:hover {
  color: $primary-font-color;
}

.navbar .navbar__selected {
  color: $primary-font-color;
}

@media (min-width: 641px) {
  .navbar .text {
    display: flex;
  }
  .navbar .icon {
    display: none;
  }
}

@media (max-width: 640px) {
  .navbar .text {
    display: none;
  }
  .navbar .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 4em;
    height: 4em;
    font-size: 0.5em;
    padding-top: 1em;
  }
}
