@import './_colors';

.portfolio {
  max-height: 100%;
  background: rgb(225, 222, 222);
  -webkit-clip-path: polygon(100% 0, 100% 86%, 50% 100%, 0 86%, 0 14%);
  clip-path: polygon(100% 0, 100% 86%, 50% 100%, 0 86%, 0 14%);
  padding: 5em 0 11em 0;
  position: relative;
}

@media (max-width: 641px) {
  .portfolio {
    padding: 3em 0 12em 0;
    -webkit-clip-path: polygon(100% 0, 100% 86%, 50% 100%, 0 86%, 0 5%);
    clip-path: polygon(100% 0, 100% 86%, 50% 100%, 0 86%, 0 5%);
  }
}

.portfolio__header {
  padding: 3em 0 2em 0;
  text-transform: uppercase;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolio__header:after {
  content: ''; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  margin: 0 auto; /* This will center the border. */
  width: 10%; /* Change this to whatever width you want. */
  padding-top: 20px; /* This creates some space between the element and the border. */
  border-bottom: 5px solid black; /* This creates the border. Replace black with whatever color you want. */
}

.portfolio__header img {
  // color: black;
  width: 30px;
  height: 30px;
  margin-right: 0.3em;
}

.portfolio__text {
  opacity: 0;
}

.portfolio__preview,
.projects__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

@media (max-width: 641px) {
  .projects__list img {
    margin-top: 2em;
    width: 7em;
    height: 7em;
  }
}

.active,
.not-active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10em;
  width: 25em;
  background-size: cover;
  transition: 0.5s;
}

.active {
  transform: scale(1.07);
  filter: brightness(10%);
}

.portfolio__preview--card--selected .button {
  display: none;
}

.portfolio__preview--card:hover {
  background: white;
}

.portfolio__preview--card .button {
  position: absolute;
  width: 7em;
  height: 2em;
  background: none;
  opacity: 0;
  font-size: 1.1em;
  font-family: Raleway;
  border: 5px solid $primary-font-color;
}

.portfolio__preview--card:hover .button {
  display: block;
  opacity: 1;
}

.portfolio__selected {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio__selected .image {
  height: 20em;
  width: 38em;
  margin-bottom: 2em;
}

@media (max-width: 641px) {
  .portfolio__selected .image {
    max-width: 100%;
    height: 10em;
    width: 20em;
    margin-bottom: 3em;
  }
}

.portfolio__selected--info {
  margin: 0 3em 0 3em;
  max-width: 35em;
}

.portfolio__selected .github__logo {
  height: 1em;
  width: 1em;
  margin-right: 0.3em;
}

.portfolio__selected--info .header {
  margin-bottom: 0.5em;
}

.portfolio__selected--info .buttons {
  border-bottom: 5px solid black;
  margin-bottom: 1em;
}

.portfolio__selected--info .button {
  margin: 0em 0.5em 1em 0.5em;
  background-color: $secondary-font-color;
  font-size: 1.1em;
  padding: 0.3em;
  border-radius: 15%;
  transition: 0.2s;
  border: 1px solid black;
}

.portfolio__selected--info .button:hover {
  background-color: darkgrey;
}

.not-active:hover {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}

.height-100vh {
  // height: 100vh;
  display: flex; /* establish flex container */
  flex-direction: column; /* stack flex items vertically */
  position: relative; /* establish neares positioned ancenstor for absolute positioning */
}

.height-100vh .text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: $primary-font-color;
  font-weight: bold;
  font-size: 2em;
}
