@import './styles/_fonts';
@import './styles/landing';
@import './styles/navbar';
@import './styles/about';
@import './styles/portfolio';
@import './styles/contact';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font-stack;
  margin: 0;
  display: flex;
  flex-direction: column;
  background: white;
  max-width: 100%;
  overflow-x: hidden;
}

.sticky {
  z-index: 1000;
}
